{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out to us through any of the following methods:</p>
    <ul>
        <li>Phone: +603-349-1019</li>
        <li>Email: support@careerprep.com</li>
        <li>
            Follow us on social media:
            <ul>
                <li><a href="https://facebook.com">Facebook</a></li>
                <li><a href="https://twitter.com">Twitter</a></li>
                <li><a href="https://linkedin.com">LinkedIn</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
